<?xml version="1.0" encoding="UTF-8"?>
<VAST version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vast.xsd">
<Ad id="#{id}">
    <Wrapper>
        <AdSystem>Videonow.ru</AdSystem>
        <AdTitle>Videonow flyRoll</AdTitle>
        <Error><![CDATA[{{API-SERVER}}/error/[ERRORCODE]?message=[MESSAGE]]]></Error>
        <VASTAdTagURI>
            <![CDATA[{{API-SERVER}}/vast/VASTCreative.xml?location=[LOCATION]&visibility=[VISIBILITY]&size=[SIZE]&sq=[SQUARE]]]></VASTAdTagURI>
        <Impression>
            <![CDATA[{{API-SERVER}}/event/impression]]>
        </Impression>
        <Extensions>
            <Extension type="skipTime">#{skipTime}</Extension>
            <Extension type="vnFormat" name="flyRoll">
            <options>
                <option name="waitScroll">false</option>
                <option name="playerElement">#vn-player</option>
                <option name="playerDefaultClass">vn-player</option>
                <option name="playerPlaybackClass">vn-playback</option>
                <option name="preloadDistance">190</option>
                <option name="floatingWidth">30%</option>
                <option name="floatingBottom">10%</option>
                <option name="floatingRight">10%</option>
            </options>
            </Extension>
            <Extension type="vnControls">
                <control id="close" enableWithVPAID="true"/>
                <control id="countdown" enableWithVPAID="true"/>
                <control id="soundbtn" enableWithVPAID="true"/>
                <control id="progress" enableWithVPAID="true"/>
                <control id="adlabel" enableWithVPAID="true"/>
            </Extension>
            <Extension type="vnCreative">
                <select>{{API-SERVER}}/event/creativeSelect/?id=1</select>
                <debug>{{API-SERVER}}/event/creativeDebug/?id=1</debug>
                <impression>{{API-SERVER}}/event/creativeImpression/?id=1</impression>
                <passed>{{API-SERVER}}/event/creativePassed/?id=1</passed>
            </Extension>
            <Extension type="vnVisibleInventory">
                <global>true</global>
                <url><![CDATA[{{API-SERVER}}/event/visibleInventory/gw-1-0]]></url>
            </Extension>

            #{vnDefaultAd}
        </Extensions>
    </Wrapper>
</Ad>
</VAST>
